.theme-custom {
  /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

  /* CSS: .bg-gradient { background: var(--gradient) } */
  --gradient: #12c2e9;

  --background: 203 55.25% 3.92%;
  --foreground: 203 8.5% 97.45%;

  --muted: 203 42.5% 14.7%;
  --muted-foreground: 203 8.5% 54.9%;

  --popover: 203 48% 6.37%;
  --popover-foreground: 203 8.5% 97.45%;

  --card: 203 48% 6.37%;
  --card-foreground: 203 8.5% 97.45%;

  --border: 203 42.5% 14.7%;
  --input: 203 42.5% 14.7%;

  --primary: 203 85% 49%;
  --primary-foreground: 203 8.5% 4.9%;

  --secondary: 203 42.5% 14.7%;
  --secondary-foreground: 203 8.5% 97.45%;

  --accent: 203 42.5% 14.7%;
  --accent-foreground: 203 8.5% 97.45%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 203 8.5% 97.45%;

  --ring: 203 85% 49%;
}
